<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
        integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <title>ARDUINO</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.ico">
    <style>
        .logo-img {
            padding-left: 10px;
        }

        .indicator {
            background-color: red;
            height: 25px;
            width: 25px;
            border-radius: 50px;
            padding-top: 5px;
            margin-top: 5px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/application">
            <div class="logo-img">
                <img src="/static/logo.png" width="30" height="30" class="d-inline-block align-top rounded" alt="">
            </div>
        </a>
    </nav>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="">SERIAL PORT</label>
                    <select class="form-select">
                        <option value="COM1">COM1</option>
                        <option value="COM2">COM2</option>
                        <option value="COM3">COM3</option>
                        <option value="COM4">COM4</option>
                        <option value="COM5">COM5</option>
                        <option value="COM6">COM6</option>
                        <option value="COM7">COM7</option>
                        <option value="COM8">COM8</option>
                        <option value="COM9">COM9</option>
                        <option value="COM10">COM10</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="">BAUD RATE</label>
                    <select class="form-select">
                        <option value="9600">9600</option>
                        <option value="14400">14400</option>
                        <option value="19200">19200</option>
                        <option value="28800">28800</option>
                        <option value="31250">31250</option>
                        <option value="38400">38400</option>
                        <option value="57600">57600</option>
                        <option value="115200">115200</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <br>
                    <button type="button" class="btn btn-dark">CONNECT</button>
                </div>

                <div class="col-md-6">
                    <label for="">STATUS: <p id="status"></p></label>
                </div>
                <div class="col-md-6">
                    <div class="indicator"></div>
                </div>
            </div>
        </div>
    </section>


    <br>
    <hr>
    <br>

    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" onclick="start()">START</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" onclick="stop()">PAUSE</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" onclick="location.reload()">RELOAD</button>
                </div>
            </div>
        </div>
    </section>

    <br>
    <hr>
    <br>

    <section>
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <p id="temperature">Temperature</p>
                    </div>
                    <div class="col-md-4">
                        <p id="humidity">Humidity</p>
                    </div>
                    <div class="col-md-4">
                        <p id="moisture">Moisture</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <canvas id="serialChart" style="width:100%;"></canvas>
        </div>
    </section>

    <br>
    <hr>
    <br>

    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary">START MOTER</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary">STOP MOTER</button>
                </div>
            </div>
        </div>
    </section>



    <br>
    <hr>
    <br>

</body>
<script>
    const xValues = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000];
    const serialChart = new Chart("serialChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: 'Temperature',
                data: [65, 59, 80, 81, 56, 55, 40, 59, 80, 81, 56, 55, 40, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: '#34A853',
                tension: 0.1
            },
            {
                label: 'Humidity',
                data: [65, 59, 80, 81, 56, 55, 40, 56, 55, 40, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: '#FBBC05',
                tension: 0.1
            },
            {
                label: 'Moisture',
                data: [65, 59, 80, 81, 56, 40, 59, 80, 81, 56, 55, 40, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: '#EA4335',
                tension: 0.1
            }]
        },
        options: {
            legend: { display: false }
        }
    });

    function displayInfoToaster() {
        toastr.options.timeOut = 1500; // 1.5s 
        toastr.info('info messages');
    }

    function displaySuccessToaster() {
        toastr.options.timeOut = 1500; // 1.5s 
        toastr.success('Success messages');
    }

    function displayErrorToaster() {
        toastr.options.timeOut = 1500; // 1.5s 
        toastr.error('errors messages');
    }

    function displayWarningToaster() {
        toastr.options.timeOut = 1500; // 1.5s 
        toastr.warning('warning messages');
    }


    // Controls


    // Test Function

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        console.log(h + ":" + m + ":" + s)
    }


    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function* stoppableMethod() {
        // here is the implementation of the algorithm
        // that we want to control
        let i = 0;
        while (true) {
            // note that yield is inside infinite loop!
            yield i;
            i += 1;
        }
    }

    const generatorInstance = stoppableMethod();

    // tick generator and perform update of the indicator
    const nextStep = () => {
        time()
    }

    // state to keep track of the setInterval id
    const state = {
        timeoutId: 0,
    }

    // start method progression
    const start = () => {
        // do not start interval if there is already an interval
        // running
        if (state.timeoutId === 0) {
            state.timeoutId = setInterval(() => nextStep(), 3000)

        }
    }

    // clear timeout to stop auto porgress
    const stop = () => {
        clearTimeout(state.timeoutId);
        state.timeoutId = 0;
    }


</script>

</html>